.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0px;
    background-color: black;
}

.footer-wrapper img{
    height: 75px;
    filter: invert(100%);
}

.footer-wrapper > .footer-content h2 {
    font-family: 'Gotu', sans-serif;
    color: #F3AB4A;
    text-decoration: underline;
}